<h3>{{ isEditing ? 'Edit' : 'Add' }} Product</h3>
    
<form [formGroup]="productForm" (ngSubmit)="isEditing ? updateProduct() : addProduct()">
  <div class="form-group">
    <label for="name">Product Name:</label>
    <input formControlName="name" name="name" class="form-control" >
    <div *ngIf="productForm.get('name')?.invalid && productForm.get('name')?.touched" class="text-danger">
        Product Name is required.
      </div>
  </div>
  <div class="form-group">
    <label for="price">Product Price:</label>
    <input formControlName="price" name="price" class="form-control" type="number" >
    <div *ngIf="productForm.get('price')?.invalid && productForm.get('price')?.touched" class="text-danger">
        Price must be a positive number.
      </div>
  </div>
  <div class="form-group">
    <label for="price">Product Quantity:</label>
    <input formControlName="quantity" name="quantity" class="form-control" type="number" >
    <div *ngIf="productForm.get('quantity')?.invalid && productForm.get('quantity')?.touched" class="text-danger">
        Quantity must be a positive number.
      </div>
  </div>
  <br> 
  <div>
    <button type="submit" class="btn btn-primary">{{ isEditing ? 'Update' : 'Add' }}</button>&nbsp;
    <button type="button" class="btn btn-secondary" (click)="resetForm()">Cancel</button>
  </div>
 
</form>


<div *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}</div >
<div *ngIf="successMessage" class="alert alert-success">{{successMessage}}</div >